@font-face {
  font-family: "OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-Regular/OpenSans-Regular.eot");
  src: url("/fonts/Open_Sans/OpenSans-Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Open_Sans/OpenSans-Regular/OpenSans-Regular.woff") format("woff"), url("/fonts/Open_Sans/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Poppins';
  src: url("/fonts/Poppins/poppins-regular-webfont.woff2") format("woff2"), url("/fonts/Poppins/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "MontserratRegular";
  src: url("/fonts/Montserrat/Montserrat-Regular.eot");
  src: url("/fonts/Montserrat/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat/Montserrat-Regular.woff") format("woff"), url("/fonts/OMontserrat/Montserrat-Regular.ttf") format("truetype");
}
/* line 1, ../scss/base.scss */
html {
  font-size: 100%;
}

/* line 3, ../scss/base.scss */
body {
  color: #fff;
  background-color: #fff;
  font-family: OpenSans;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
}

/* line 17, ../scss/base.scss */
h1,
h2,
h3 {
  font-family: Poppins;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
}

/* line 27, ../scss/base.scss */
.logo,
.top-menu,
.contact_us,
.bottom_menu {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 36, ../scss/base.scss */
.navbar-toggler {
  margin-top: 10px;
  border: none !important;
}

/* line 41, ../scss/base.scss */
.menu-item a,
.contact_us a {
  color: #fff;
  text-decoration: none;
}

/* line 47, ../scss/base.scss */
.logo {
  display: block;
  float: right;
  padding-top: 32%;
}
@media (max-width: 992px) {
  /* line 47, ../scss/base.scss */
  .logo {
    padding-top: 24px;
    float: left;
  }
}

/* line 58, ../scss/base.scss */
.logo_bottom {
  padding-top: 38%;
}

/* line 3, ../scss/pages/home.scss */
#home .main-header-row {
  background-image: url("/img/header_background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  /* line 3, ../scss/pages/home.scss */
  #home .main-header-row {
    background-image: url("/img/header_background_mobile.png");
  }
}
/* line 13, ../scss/pages/home.scss */
#home .bottom_menu {
  padding-top: 7%;
  padding-left: 14%;
}
/* line 18, ../scss/pages/home.scss */
#home .navbar {
  margin-top: 7%;
}
@media (max-width: 992px) {
  /* line 18, ../scss/pages/home.scss */
  #home .navbar {
    top: -30px;
  }
}
/* line 25, ../scss/pages/home.scss */
#home .mobile_menu_bg {
  background-color: rgba(55, 57, 129, 0.95);
}
@media (max-width: 992px) {
  /* line 29, ../scss/pages/home.scss */
  #home .nopadding {
    padding: 0;
    margin: 0;
  }
}
/* line 36, ../scss/pages/home.scss */
#home .top-menu {
  padding-left: 0;
}
/* line 38, ../scss/pages/home.scss */
#home .top-menu .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 43, ../scss/pages/home.scss */
#home .top-menu .navbar-nav .nav-item a {
  letter-spacing: 1px;
  text-align: left;
}
@media (max-width: 992px) {
  /* line 43, ../scss/pages/home.scss */
  #home .top-menu .navbar-nav .nav-item a {
    text-align: center;
  }
}
@media (max-width: 992px) {
  /* line 55, ../scss/pages/home.scss */
  #home .bottom_menu {
    padding-left: 0;
  }
}
/* line 61, ../scss/pages/home.scss */
#home .bottom_menu .menu-item {
  display: block;
  float: left;
  padding: 2%;
}
@media (max-width: 992px) {
  /* line 61, ../scss/pages/home.scss */
  #home .bottom_menu .menu-item {
    float: none !important;
    text-align: center;
  }
}
@media (max-width: 992px) {
  /* line 71, ../scss/pages/home.scss */
  #home .logo_bottom {
    padding-top: 15%;
    float: none !important;
    text-align: center;
  }
}
@media (max-width: 992px) {
  /* line 79, ../scss/pages/home.scss */
  #home .mobile_logo_visible {
    display: none;
  }
}
/* line 85, ../scss/pages/home.scss */
#home .navbar-nav {
  margin: 0 !important;
}
@media (min-width: 992px) {
  /* line 89, ../scss/pages/home.scss */
  #home .contact_us_item {
    display: none;
  }
}
@media (max-width: 992px) {
  /* line 95, ../scss/pages/home.scss */
  #home .contact_us_item_lg {
    display: none;
  }
}
/* line 101, ../scss/pages/home.scss */
#home .contact_us,
#home .social_icons {
  margin-top: 38%;
  float: right;
  margin-right: 14%;
}
@media (max-width: 992px) {
  /* line 108, ../scss/pages/home.scss */
  #home .social_icons {
    margin: 8% auto;
    text-align: center;
    padding: 0;
    float: none;
  }
}
/* line 117, ../scss/pages/home.scss */
#home .contact_us img {
  padding-right: 5px;
}
/* line 121, ../scss/pages/home.scss */
#home .header_banner {
  margin-left: 19.5%;
  display: block;
  padding-top: 15%;
  width: 65%;
  text-align: left;
}
@media (max-width: 992px) {
  /* line 121, ../scss/pages/home.scss */
  #home .header_banner {
    width: 87%;
    margin-left: 0px;
  }
}
@media (max-width: 1024px) {
  /* line 121, ../scss/pages/home.scss */
  #home .header_banner {
    width: 100%;
    padding-top: 7%;
  }
}
/* line 138, ../scss/pages/home.scss */
#home .phone_wrap {
  position: relative;
  display: block;
  width: 60%;
}
@media (max-width: 992px) {
  /* line 138, ../scss/pages/home.scss */
  #home .phone_wrap {
    position: relative;
    height: 395px;
    width: 100%;
  }
}
/* line 149, ../scss/pages/home.scss */
#home .phone {
  display: block;
  position: absolute;
  left: 0;
}
@media (min-width: 1900px) {
  /* line 149, ../scss/pages/home.scss */
  #home .phone {
    left: 10%;
  }
}
@media (max-width: 992px) {
  /* line 149, ../scss/pages/home.scss */
  #home .phone {
    width: 100%;
    left: 0;
  }
}
/* line 163, ../scss/pages/home.scss */
#home .header_description {
  margin-top: 3.9%;
  opacity: 0.7;
  text-align: left;
}
@media (max-width: 992px) {
  /* line 163, ../scss/pages/home.scss */
  #home .header_description {
    font-size: 14px;
  }
}
/* line 172, ../scss/pages/home.scss */
#home .header_btns {
  display: block;
  margin-top: 7.8%;
  margin-left: 19.5%;
  width: 100%;
}
@media (max-width: 992px) {
  /* line 172, ../scss/pages/home.scss */
  #home .header_btns {
    margin-left: 0;
  }
}
/* line 182, ../scss/pages/home.scss */
#home .header_btn {
  display: block;
  padding: 10px 20px;
  margin-bottom: 7.8%;
  font-size: 14px;
}
/* line 189, ../scss/pages/home.scss */
#home .download_btn {
  width: 350px;
  height: 72px;
  padding: 20px 0px;
  font-weight: bold;
}
@media (max-width: 992px) {
  /* line 189, ../scss/pages/home.scss */
  #home .download_btn {
    height: 40px;
    padding: 3px 0px;
    margin-top: 10px;
  }
}
/* line 201, ../scss/pages/home.scss */
#home .circular_btn {
  display: block;
  float: left;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
@media (max-width: 992px) {
  /* line 201, ../scss/pages/home.scss */
  #home .circular_btn {
    font-size: 12px;
  }
}
/* line 212, ../scss/pages/home.scss */
#home .btn_blue {
  background-color: #373981;
  margin-right: 1.6%;
  color: #fff;
}
@media (max-width: 992px) {
  /* line 212, ../scss/pages/home.scss */
  #home .btn_blue {
    width: 100%;
    margin-right: 0;
  }
}
/* line 222, ../scss/pages/home.scss */
#home .btn_white {
  color: #8b5df2;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  /* line 222, ../scss/pages/home.scss */
  #home .btn_white {
    width: 100%;
  }
}
/* line 230, ../scss/pages/home.scss */
#home .partners-row {
  background-color: #373981;
  text-align: center;
}
/* line 235, ../scss/pages/home.scss */
#home .partners_header {
  margin-top: 5%;
}
@media (max-width: 992px) {
  /* line 235, ../scss/pages/home.scss */
  #home .partners_header {
    margin-top: 20%;
  }
}
/* line 242, ../scss/pages/home.scss */
#home .partners_icons {
  margin: 2.5% 0;
}
@media (max-width: 992px) {
  /* line 242, ../scss/pages/home.scss */
  #home .partners_icons {
    margin: 48px 0;
  }
}
/* line 250, ../scss/pages/home.scss */
#home .partners_icons img {
  padding: 0 2.6%;
}
/* line 254, ../scss/pages/home.scss */
#home .steps-row {
  background-image: linear-gradient(to bottom, #373881, #8b84e7 51%, #ffa350);
}
/* line 258, ../scss/pages/home.scss */
#home .step_img_left {
  margin-top: 8%;
  margin-left: 19.5%;
}
@media (max-width: 992px) {
  /* line 258, ../scss/pages/home.scss */
  #home .step_img_left {
    margin-left: 0;
  }
}
/* line 266, ../scss/pages/home.scss */
#home .step_img_right {
  margin-top: 8%;
  margin-right: 19.8%;
  margin-bottom: 8%;
}
@media (max-width: 992px) {
  /* line 266, ../scss/pages/home.scss */
  #home .step_img_right {
    margin-right: 0;
  }
}
/* line 275, ../scss/pages/home.scss */
#home .step_text {
  display: block;
  margin-top: 8%;
  margin-left: 6.8%;
  margin-bottom: 8%;
}
@media (max-width: 992px) {
  /* line 275, ../scss/pages/home.scss */
  #home .step_text {
    margin-left: 0;
  }
}
/* line 285, ../scss/pages/home.scss */
#home .step_text_left {
  margin-left: 19.5%;
}
@media (max-width: 992px) {
  /* line 285, ../scss/pages/home.scss */
  #home .step_text_left {
    margin-left: 0;
  }
}
/* line 292, ../scss/pages/home.scss */
#home .step_desc {
  margin-top: 1%;
  opacity: 0.7;
  text-align: left;
}
/* line 298, ../scss/pages/home.scss */
#home .learn_more {
  margin-top: 50px;
  cursor: pointer;
}
/* line 303, ../scss/pages/home.scss */
#home .step4-row {
  margin-bottom: 2%;
}
/* line 307, ../scss/pages/home.scss */
#home .features-row {
  margin-top: 8%;
  text-align: center;
  color: #373981;
  margin-bottom: 8%;
}
/* line 314, ../scss/pages/home.scss */
#home .features_text {
  margin-top: 10%;
}
/* line 318, ../scss/pages/home.scss */
#home .features_items {
  display: block;
  margin-top: 20%;
}
/* line 323, ../scss/pages/home.scss */
#home .testimonials-row {
  background-image: linear-gradient(to right, #ffffff, #f5f7f8);
}
/* line 327, ../scss/pages/home.scss */
#home .testimonials-container {
  margin: 8% 0;
  color: #868e9c;
  text-align: center;
}
/* line 333, ../scss/pages/home.scss */
#home .testimonials-container h2,
#home .testimonials-container h3 {
  color: #373981;
}
/* line 338, ../scss/pages/home.scss */
#home .owl-carousel {
  margin-top: 8%;
}
/* line 342, ../scss/pages/home.scss */
#home .slide_image {
  width: 100%;
}
/* line 346, ../scss/pages/home.scss */
#home .slide_2,
#home .slide_3 {
  margin-top: 35%;
  width: 240px;
}
@media (max-width: 992px) {
  /* line 346, ../scss/pages/home.scss */
  #home .slide_2,
  #home .slide_3 {
    margin-top: 8%;
    width: 272px;
  }
}
/* line 356, ../scss/pages/home.scss */
#home .slide_1 {
  width: 470px;
}
@media (max-width: 992px) {
  /* line 356, ../scss/pages/home.scss */
  #home .slide_1 {
    width: 335px;
  }
}
/* line 363, ../scss/pages/home.scss */
#home .slide_description {
  font-size: 1.5rem;
  width: 100%;
  color: #868e9c !important;
  margin-top: 10%;
}
/* line 370, ../scss/pages/home.scss */
#home .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 3% !important;
}
/* line 374, ../scss/pages/home.scss */
#home .download-app-row {
  background-image: url("/img/download-background.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  /* line 374, ../scss/pages/home.scss */
  #home .download-app-row {
    background-image: url("/img/download_background_mobile.png");
  }
}
/* line 383, ../scss/pages/home.scss */
#home .download-app-text {
  text-align: center;
  margin-top: 4.5%;
}
/* line 388, ../scss/pages/home.scss */
#home .download_buttons {
  margin: 3.5% 0;
}
/* line 393, ../scss/pages/home.scss */
#home .count-downloads {
  background-color: #373981;
}
/* line 397, ../scss/pages/home.scss */
#home .count-customers {
  background-color: #4749a3;
}
/* line 401, ../scss/pages/home.scss */
#home .count-faces {
  background-color: #5b5ec0;
}
/* line 405, ../scss/pages/home.scss */
#home .counter-item {
  display: block;
  width: 84%;
  margin: 10% auto;
  padding-bottom: 10%;
}
/* line 412, ../scss/pages/home.scss */
#home .counter-icon {
  float: left;
  padding-right: 5%;
}
/* line 417, ../scss/pages/home.scss */
#home .footer-row {
  background-color: #24254b;
}
/* line 421, ../scss/pages/home.scss */
#home .social_icons a {
  margin-right: 5%;
}
/* line 425, ../scss/pages/home.scss */
#home .copyright {
  text-align: center;
  margin: 3% auto;
  font-size: 0.75rem;
}
/* line 431, ../scss/pages/home.scss */
#home .main_body {
  max-width: 1170px;
  margin: 0 auto;
}

/* line 2, ../scss/pages/products.scss */
#products .main-header-row {
  background-size: 100% auto;
  background: url("../img/product_header_background.png") no-repeat;
}
@media (max-width: 992px) {
  /* line 2, ../scss/pages/products.scss */
  #products .main-header-row {
    /*background-image: url("../img/header_background_mobile.png");*/
  }
}
/* line 11, ../scss/pages/products.scss */
#products .navbar {
  margin-top: 8%;
}
/* line 15, ../scss/pages/products.scss */
#products .top-menu {
  padding-left: 0;
}
/* line 17, ../scss/pages/products.scss */
#products .top-menu .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 22, ../scss/pages/products.scss */
#products .top-menu .navbar-nav .nav-item a {
  font-family: MontserratRegular, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: left;
}
/* line 33, ../scss/pages/products.scss */
#products .header_banner {
  padding-top: 0;
  margin: 5% auto;
}
/* line 36, ../scss/pages/products.scss */
#products .header_banner .header_text {
  font-family: MontserratRegular, sans-serif;
  text-align: center;
  color: #ffffff;
}
/* line 40, ../scss/pages/products.scss */
#products .header_banner .header_text h1 {
  font-size: 8rem;
  line-height: 0.94;
  letter-spacing: 8px;
}
/* line 45, ../scss/pages/products.scss */
#products .header_banner .header_text .header_description {
  text-align: center;
  opacity: 0.7;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 5px;
}
/* line 54, ../scss/pages/products.scss */
#products .header_btns {
  display: flex;
  justify-content: center;
  margin-top: 2.8%;
  margin-left: 0;
}
/* line 59, ../scss/pages/products.scss */
#products .header_btns button {
  height: 72px;
  width: 370px;
  display: block;
  margin: 0 0.8% 7.8% 0.8%;
  border-radius: 100px;
  background-color: rgba(255, 245, 215, 0.1);
  border: 1px solid rgba(255, 245, 215, 0.1);
}
/* line 67, ../scss/pages/products.scss */
#products .header_btns button:hover {
  background-color: #1f2549;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  border: none;
}
/* line 72, ../scss/pages/products.scss */
#products .header_btns button span {
  font-family: MontserratRegular, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
}
/* line 82, ../scss/pages/products.scss */
#products .features-row {
  background-color: #373981;
}
/* line 84, ../scss/pages/products.scss */
#products .features-row .main-features-container {
  margin-top: 7%;
  margin-bottom: 7%;
  padding: 0 13% 0 13%;
}
/* line 88, ../scss/pages/products.scss */
#products .features-row .main-features-container .agency-title {
  font-family: MontserratRegular, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 4px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
/* line 98, ../scss/pages/products.scss */
#products .features-row .main-features-container .discuss-link {
  margin-top: 7%;
}
/* line 100, ../scss/pages/products.scss */
#products .features-row .main-features-container .discuss-link a {
  font-family: MontserratRegular, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 109, ../scss/pages/products.scss */
#products .features-row .main-features-container .discuss-link a img {
  margin-left: 20px;
}
/* line 114, ../scss/pages/products.scss */
#products .features-row .main-features-container .agency-text {
  opacity: 0.7;
  font-family: MontserratRegular, sans-serif;
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.33;
  text-align: left;
  color: #ffffff;
}
