@font-face {
  font-family: "OpenSans";
  src: url("/fonts/Open_Sans/OpenSans-Regular/OpenSans-Regular.eot");
  src: url("/fonts/Open_Sans/OpenSans-Regular/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Open_Sans/OpenSans-Regular/OpenSans-Regular.woff") format("woff"), url("/fonts/Open_Sans/OpenSans-Regular/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Poppins';
  src: url("/fonts/Poppins/poppins-regular-webfont.woff2") format("woff2"), url("/fonts/Poppins/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../scss/pages/home.scss */
html {
  font-size: 100%;
}

/* line 3, ../scss/pages/home.scss */
body {
  color: #fff;
  background-color: #fff;
  font-family: OpenSans;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  width: 100%;
  height: 100%;
}

/* line 16, ../scss/pages/home.scss */
#home {
  font-size: 1.25rem;
}

/* line 21, ../scss/pages/home.scss */
#home h1,
#home h2,
#home h3 {
  font-family: Poppins;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
}
/* line 31, ../scss/pages/home.scss */
#home .main-header-row {
  background-image: url("/img/header_background.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  /* line 31, ../scss/pages/home.scss */
  #home .main-header-row {
    background-image: url("/img/header_background_mobile.png");
  }
}
/* line 41, ../scss/pages/home.scss */
#home .logo,
#home .top-menu,
#home .contact_us {
  font-size: 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 49, ../scss/pages/home.scss */
#home .navbar-toggler {
  margin-top: 10px;
  border: none !important;
}
/* line 54, ../scss/pages/home.scss */
#home .top-menu {
  padding-top: 7%;
  padding-left: 14%;
}
/* line 59, ../scss/pages/home.scss */
#home .navbar-nav {
  margin: 0 !important;
}
@media (min-width: 992px) {
  /* line 63, ../scss/pages/home.scss */
  #home .contact_us_item {
    display: none;
  }
}
@media (max-width: 992px) {
  /* line 69, ../scss/pages/home.scss */
  #home .contact_us_item_lg {
    display: none;
  }
}
/* line 75, ../scss/pages/home.scss */
#home .menu-item {
  display: block;
  float: left;
  padding: 2%;
}
/* line 81, ../scss/pages/home.scss */
#home .menu-item a,
#home .contact_us a {
  color: #fff;
  text-decoration: none;
}
/* line 87, ../scss/pages/home.scss */
#home .logo {
  display: block;
  float: right;
  padding-top: 32%;
}
@media (max-width: 992px) {
  /* line 87, ../scss/pages/home.scss */
  #home .logo {
    padding-top: 24px;
    float: left;
  }
}
/* line 99, ../scss/pages/home.scss */
#home .contact_us,
#home .social_icons {
  margin-top: 38%;
  float: right;
  margin-right: 14%;
}
/* line 106, ../scss/pages/home.scss */
#home .contact_us img {
  padding-right: 5px;
}
/* line 110, ../scss/pages/home.scss */
#home .header_banner {
  margin-left: 19.5%;
  display: block;
  padding-top: 15%;
  width: 65%;
  text-align: left;
}
@media (max-width: 992px) {
  /* line 110, ../scss/pages/home.scss */
  #home .header_banner {
    width: 87%;
    margin-left: 0px;
  }
}
@media (max-width: 1024px) {
  /* line 110, ../scss/pages/home.scss */
  #home .header_banner {
    width: 100%;
    padding-top: 7%;
  }
}
/* line 127, ../scss/pages/home.scss */
#home .phone_wrap {
  position: relative;
  display: block;
}
@media (max-width: 992px) {
  /* line 127, ../scss/pages/home.scss */
  #home .phone_wrap {
    position: relative;
    height: 395px;
  }
}
/* line 136, ../scss/pages/home.scss */
#home .phone {
  width: 65%;
  display: block;
  position: absolute;
  left: 10%;
}
@media (max-width: 992px) {
  /* line 136, ../scss/pages/home.scss */
  #home .phone {
    width: 100%;
    left: 0;
  }
}
/* line 147, ../scss/pages/home.scss */
#home .header_description {
  margin-top: 3.9%;
  opacity: 0.7;
  text-align: left;
}
@media (max-width: 992px) {
  /* line 147, ../scss/pages/home.scss */
  #home .header_description {
    font-size: 14px;
  }
}
/* line 156, ../scss/pages/home.scss */
#home .header_btns {
  display: block;
  margin-top: 7.8%;
  margin-left: 19.5%;
  width: 100%;
}
@media (max-width: 992px) {
  /* line 156, ../scss/pages/home.scss */
  #home .header_btns {
    margin-left: 0;
  }
}
/* line 166, ../scss/pages/home.scss */
#home .header_btn {
  display: block;
  padding: 10px 20px;
  margin-bottom: 7.8%;
  font-size: 14px;
}
/* line 173, ../scss/pages/home.scss */
#home .download_btn {
  width: 350px;
  height: 72px;
  padding: 20px 0px;
  font-weight: bold;
}
@media (max-width: 992px) {
  /* line 173, ../scss/pages/home.scss */
  #home .download_btn {
    height: 40px;
    padding: 3px 0px;
    margin-top: 10px;
  }
}
/* line 185, ../scss/pages/home.scss */
#home .circular_btn {
  display: block;
  float: left;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
@media (max-width: 992px) {
  /* line 185, ../scss/pages/home.scss */
  #home .circular_btn {
    font-size: 12px;
  }
}
/* line 196, ../scss/pages/home.scss */
#home .btn_blue {
  background-color: #373981;
  margin-right: 1.6%;
  color: #fff;
}
@media (max-width: 992px) {
  /* line 196, ../scss/pages/home.scss */
  #home .btn_blue {
    width: 100%;
    margin-right: 0;
  }
}
/* line 206, ../scss/pages/home.scss */
#home .btn_white {
  color: #8b5df2;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  /* line 206, ../scss/pages/home.scss */
  #home .btn_white {
    width: 100%;
  }
}
/* line 214, ../scss/pages/home.scss */
#home .partners-row {
  background-color: #373981;
  text-align: center;
}
/* line 219, ../scss/pages/home.scss */
#home .partners_header {
  margin-top: 5%;
}
@media (max-width: 992px) {
  /* line 219, ../scss/pages/home.scss */
  #home .partners_header {
    margin-top: 20%;
  }
}
/* line 226, ../scss/pages/home.scss */
#home .partners_icons {
  margin: 2.5% 0;
}
@media (max-width: 992px) {
  /* line 226, ../scss/pages/home.scss */
  #home .partners_icons {
    margin: 48px 0;
  }
}
/* line 234, ../scss/pages/home.scss */
#home .partners_icons img {
  padding: 0 2.6%;
}
/* line 238, ../scss/pages/home.scss */
#home .steps-row {
  background-image: linear-gradient(to bottom, #373881, #8b84e7 51%, #ffa350);
}
/* line 242, ../scss/pages/home.scss */
#home .step_img_left {
  margin-top: 8%;
  margin-left: 19.5%;
}
@media (max-width: 992px) {
  /* line 242, ../scss/pages/home.scss */
  #home .step_img_left {
    margin-left: 0;
  }
}
/* line 250, ../scss/pages/home.scss */
#home .step_img_right {
  margin-top: 8%;
  margin-right: 19.8%;
  margin-bottom: 8%;
}
@media (max-width: 992px) {
  /* line 250, ../scss/pages/home.scss */
  #home .step_img_right {
    margin-right: 0;
  }
}
/* line 259, ../scss/pages/home.scss */
#home .step_text {
  display: block;
  margin-top: 8%;
  margin-left: 6.8%;
  margin-bottom: 8%;
}
@media (max-width: 992px) {
  /* line 259, ../scss/pages/home.scss */
  #home .step_text {
    margin-left: 0;
  }
}
/* line 269, ../scss/pages/home.scss */
#home .step_text_left {
  margin-left: 19.5%;
}
@media (max-width: 992px) {
  /* line 269, ../scss/pages/home.scss */
  #home .step_text_left {
    margin-left: 0;
  }
}
/* line 276, ../scss/pages/home.scss */
#home .step_desc {
  margin-top: 1%;
  opacity: 0.7;
  text-align: left;
}
/* line 282, ../scss/pages/home.scss */
#home .learn_more {
  margin-top: 50px;
  cursor: pointer;
}
/* line 287, ../scss/pages/home.scss */
#home .step4-row {
  margin-bottom: 2%;
}
/* line 291, ../scss/pages/home.scss */
#home .features-row {
  margin-top: 8%;
  text-align: center;
  color: #373981;
  margin-bottom: 8%;
}
/* line 298, ../scss/pages/home.scss */
#home .features_text {
  margin-top: 10%;
}
/* line 302, ../scss/pages/home.scss */
#home .features_items {
  display: block;
  margin-top: 20%;
}
/* line 307, ../scss/pages/home.scss */
#home .testimonials-row {
  background-image: linear-gradient(to right, #ffffff, #f5f7f8);
}
/* line 311, ../scss/pages/home.scss */
#home .testimonials-container {
  margin: 8%;
  color: #868e9c;
  text-align: center;
}
/* line 317, ../scss/pages/home.scss */
#home .testimonials-container h2,
#home .testimonials-container h3 {
  color: #373981;
}
/* line 322, ../scss/pages/home.scss */
#home #carousel {
  margin-top: 8%;
}
/* line 326, ../scss/pages/home.scss */
#home .slide_image {
  width: 100%;
}
/* line 330, ../scss/pages/home.scss */
#home .carousel-item {
  width: 50%;
  margin: 0 auto;
  padding-bottom: 20%;
}
/* line 336, ../scss/pages/home.scss */
#home .slide_description {
  font-size: 1.5rem;
  width: 100%;
  color: #868e9c !important;
  right: 0;
  left: 0;
  bottom: 0;
}
/* line 345, ../scss/pages/home.scss */
#home .slider_pagination {
  margin: 4.1% auto;
  display: block;
  width: 75px;
  position: relative;
}
/* line 352, ../scss/pages/home.scss */
#home .pagination_item {
  display: block;
  width: 8px;
  height: 8px;
  background-color: rgba(134, 142, 156, 0.2);
  float: left;
  margin-right: 16px;
}
/* line 361, ../scss/pages/home.scss */
#home .item_active {
  background-color: #868e9c;
}
/* line 365, ../scss/pages/home.scss */
#home .download-app-row {
  background-image: url("/img/download-background.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  /* line 365, ../scss/pages/home.scss */
  #home .download-app-row {
    background-image: url("/img/download_background_mobile.png");
  }
}
/* line 374, ../scss/pages/home.scss */
#home .download-app-text {
  text-align: center;
  margin-top: 4.5%;
}
/* line 379, ../scss/pages/home.scss */
#home .download_buttons {
  margin: 3.5% 0;
}
/* line 384, ../scss/pages/home.scss */
#home .count-downloads {
  background-color: #373981;
}
/* line 388, ../scss/pages/home.scss */
#home .count-customers {
  background-color: #4749a3;
}
/* line 392, ../scss/pages/home.scss */
#home .count-faces {
  background-color: #5b5ec0;
}
/* line 396, ../scss/pages/home.scss */
#home .counter-item {
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  padding-bottom: 25%;
}
/* line 404, ../scss/pages/home.scss */
#home .counter-icon {
  float: left;
  padding-right: 5%;
}
/* line 409, ../scss/pages/home.scss */
#home .footer-row {
  background-color: #24254b;
}
/* line 413, ../scss/pages/home.scss */
#home .social_icons a {
  margin-right: 5%;
}
/* line 417, ../scss/pages/home.scss */
#home .copyright {
  text-align: center;
  margin: 3% auto;
  font-size: 0.75rem;
}
/* line 423, ../scss/pages/home.scss */
#home .main_body {
  max-width: 1170px;
  margin: 0 auto;
}
