/* line 2, ../../scss/pages/products.scss */
#products .main-header-row {
  background-size: 100% auto;
  background: url("../img/product_header_background.png") no-repeat;
}
@media (max-width: 992px) {
  /* line 2, ../../scss/pages/products.scss */
  #products .main-header-row {
    /*background-image: url("../img/header_background_mobile.png");*/
  }
}
/* line 10, ../../scss/pages/products.scss */
#products .top-menu {
  padding-top: 8%;
  padding-left: 0;
}
/* line 13, ../../scss/pages/products.scss */
#products .top-menu .navbar-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* line 18, ../../scss/pages/products.scss */
#products .top-menu .navbar-nav .nav-item a {
  font-family: MontserratRegular, sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-align: left;
}
/* line 29, ../../scss/pages/products.scss */
#products .header_banner {
  padding-top: 0;
  margin: 5% auto;
}
/* line 32, ../../scss/pages/products.scss */
#products .header_banner .header_text {
  font-family: MontserratRegular, sans-serif;
  text-align: center;
  color: #ffffff;
}
/* line 36, ../../scss/pages/products.scss */
#products .header_banner .header_text h1 {
  font-size: 8rem;
  line-height: 0.94;
  letter-spacing: 8px;
}
/* line 41, ../../scss/pages/products.scss */
#products .header_banner .header_text .header_description {
  text-align: center;
  opacity: 0.7;
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 5px;
}
/* line 50, ../../scss/pages/products.scss */
#products .header_btns {
  display: flex;
  justify-content: center;
  margin-top: 2.8%;
  margin-left: 0;
}
/* line 55, ../../scss/pages/products.scss */
#products .header_btns button {
  height: 72px;
  width: 370px;
  display: block;
  margin: 0 0.8% 7.8% 0.8%;
  border-radius: 100px;
  background-color: rgba(255, 245, 215, 0.1);
  border: 1px solid rgba(255, 245, 215, 0.1);
}
/* line 63, ../../scss/pages/products.scss */
#products .header_btns button:hover {
  background-color: #1f2549;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  border: none;
}
/* line 68, ../../scss/pages/products.scss */
#products .header_btns button span {
  font-family: MontserratRegular, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
  color: #ffffff;
}
/* line 78, ../../scss/pages/products.scss */
#products .features-row {
  background-color: #373981;
}
/* line 80, ../../scss/pages/products.scss */
#products .features-row .main-features-container {
  margin-top: 7%;
  margin-bottom: 7%;
  padding: 0 13% 0 13%;
}
/* line 84, ../../scss/pages/products.scss */
#products .features-row .main-features-container .agency-title {
  font-family: MontserratRegular, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 4px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
/* line 94, ../../scss/pages/products.scss */
#products .features-row .main-features-container .discuss-link {
  margin-top: 7%;
}
/* line 96, ../../scss/pages/products.scss */
#products .features-row .main-features-container .discuss-link a {
  font-family: MontserratRegular, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 105, ../../scss/pages/products.scss */
#products .features-row .main-features-container .discuss-link a img {
  margin-left: 20px;
}
/* line 110, ../../scss/pages/products.scss */
#products .features-row .main-features-container .agency-text {
  opacity: 0.7;
  font-family: MontserratRegular, sans-serif;
  font-size: 3rem;
  font-weight: 200;
  line-height: 1.33;
  text-align: left;
  color: #ffffff;
}
